

<%- include('./head') %>

		<!--page-wrapper-->
		<div class="page-wrapper">
			<!--page-content-wrapper-->
			<div class="page-content-wrapper">
				<div class="page-content">
					

					<!--end breadcrumb -->
					<div class="container">
						<div class="card">
							<div class="card-body">
								<h4 class="mb-0">To Do List</h4>
								<hr />
								<form method="POST" action="/admin/creatToDo">
									<div class="form-row">
										<div class="col-md-10">
											<div class="form-group mb-2">
												<input id="todo-input" name="todoMessage" type="text" class="form-control" placeholder="Type Message" required>
											</div>
										</div>
										<div class="col-md text-right">
											<button type="submit" class="btn btn-block btn-light">Add todo</button>
										</div>
									</div>
								</form>
								<div class="mt-4">
									<h5>To Do Items</h5>
									<table class="table table-bordered">
										<thead>
											<tr>
												<th>Si:No</th>
												<th>Employee Name</th>
												<th>Message</th>
												<th>Status</th>
												<th>Created At</th>
												<th>Completed At</th>
											</tr>
										</thead>
										<tbody>
											<% if (ToDoData && ToDoData.length > 0) { %>
												<% ToDoData.forEach((todo, index) => { %>
													<tr>
														<td><%= index + 1 %></td>
														<td><%= todo.employeeName %></td>
														<td><%= todo.message %></td>
														<td><%= todo.status %></td>
														<td><%= new Date(todo.createdAt).toLocaleString() %></td>
														<td>
															<% if (todo.status !== 'completed') { %>
																<form method="POST" action="/admin/updateToDoStatusCompleted">
																	<input type="hidden" name="todoId" value="<%= todo._id %>">
																	<button type="submit" class="btn btn-block btn-light"">Mark as Completed</button>
																</form>
															
															<% } else if (todo.status == 'completed' && !adminStatus ) { %>
																<button type="submit" class="btn btn-block btn-light"">Completed</button>

															<% } else if (adminStatus) { %>
																<form method="POST" action="/admin/updateToDoStatusFinished">
																	<input type="hidden" name="todoId" value="<%= todo._id %>">
																	<button type="submit" name="action" value="accept" class="btn btn-block btn-light">Accept</button>
																	<button type="submit" name="action" value="decline" class="btn btn-block btn-light">Decline</button>
																</form>
																
																<% } else { %>
																	<button type="submit" class="btn btn-block btn-light"">Completed</button>
															<% } %>
														</td>
													</tr>
												<% }); %>
											<% } else { %>
												<tr>
													<td colspan="5" class="text-center">No To Do Items Found</td>
												</tr>
											<% } %>
										</tbody>
									</table>
								</div>

								<div class="form-row mt-3">
									<div class="col-12">
										<div id="todo-container"></div>
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	
		<div class="overlay toggle-btn-mobile"></div>
		<a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>

	</div>




	<!-- end wrapper -->
	<!--start switcher-->
	<!-- <div class="switcher-wrapper">
		<div class="switcher-btn"> <i class='bx bx-cog bx-spin'></i>
		</div>
		<div class="switcher-body">
			<h5 class="mb-0 text-uppercase">Theme Customizer</h5>
			<hr/>
			<p class="mb-0">Gaussian Texture</p>
			  <hr>
			  
			  <ul class="switcher">
				<li id="theme1"></li>
				<li id="theme2"></li>
				<li id="theme3"></li>
				<li id="theme4"></li>
				<li id="theme5"></li>
				<li id="theme6"></li>
			  </ul>
               <hr>
			  <p class="mb-0">Gradient Background</p>
			  <hr>
			  
			  <ul class="switcher">
				<li id="theme7"></li>
				<li id="theme8"></li>
				<li id="theme9"></li>
				<li id="theme10"></li>
				<li id="theme11"></li>
				<li id="theme12"></li>
			  </ul>
		</div>
	</div> -->
	<!--end switcher-->
	<!-- JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<!--plugins-->
	<script src="assets/plugins/simplebar/js/simplebar.min.js"></script>
	<script src="assets/plugins/metismenu/js/metisMenu.min.js"></script>
	<script src="assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
	<!-- App JS -->
	<script src="assets/js/app.js"></script>
	
</body>

</html>